<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Macska Hozzáad</title>
</head>
<body>
  <center>
    <form method="post">
      <p>Súly: <input type="number" name="suly" required min="1"/></p>
      <p>Szem szín: <input type="text" name="szemszin" required /></p>    
      <input type="submit" value="Hozzáad" />        
    </form>
    <form action="/">
      <input type="submit" value="Mégse" />
    </form>
  </center>
</body>
</html>
